<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Borrow Cycle Page</title>
</head>

<body>
    <div class="container">
        <div class="center-table">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Price</th>
                        <!-- <th scope="col">Borrowed</th> -->
                        <th scope="col">Quantity</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cycle of newdata">
                        <th scope="row">{{ cycle.id }}</th>
                        <td>{{ cycle.brand }}</td>
                        <td>{{ cycle.stock }}</td>
                        <td>₹{{ cycle.price }}</td>
                        <td>
                            <div class="input-container">
                                <input type="number" [(ngModel)]="cycle.quantityToBorrow" min="0" step="1">
                            </div>
                        </td>
                        <div class="btn-return">
                            <button (click)="borrowCycle(cycle.id,cycle.quantityToBorrow)" class="button-3">Add to
                                Cart</button>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>