<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <header>
        <a href="/home">
            <img class="logo" src="../../assets/cycle1.png" alt="logo">
        </a>
        <nav>
            <ul class="nav__links">
                <li>
                    <a href="/rent"><img class="rent" src="../../assets/rent-icon.png" alt="Login"></a>
                    <a href="/return" style="color: black;"><b>Return</b></a>
                    <a href="/restock" style="color: black;"><b>Restock </b></a>
                </li>
            </ul>
        </nav>
       
            <!-- <button></button> -->
       
        <ul class="nav__links">
            <li>
                <a href="/cart"><img class="cart" src="../../assets/cart2.png" alt="Cart"></a>
                <a href="/login"><img class="login" src="../../assets/login1.png" alt="Login"></a>
                
                
            </li>
        </ul>
    </header>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>
